<ion-content [fullscreen]="true">
  <div class="width-150px height-100per display-flex background-6957E9 float-left">
    <button (click)="addStock()" class="margin-horizontal-auto margin-top-100px height-50px">
      <img src="../../assets/icon/add-outline.svg" height="50">
    </button>
  </div>
  <div class="width-100per-minus-150px float-left height-100per">
    <div class="margin-top-100px width-100per height-100per-minus-100px">
      <div class="width-80per margin-horizontal-auto">
        <span class="display-inline-block width-150px vertical-align-middle font-size-30px">Stock</span>
        <span class="display-inline-block width-200px vertical-align-middle text-align-center font-size-30px">Price</span>
        <span class="display-inline-block width-200px vertical-align-middle text-align-center font-size-30px">KGV</span>
        <span class="display-inline-block width-200px vertical-align-middle text-align-center font-size-30px">2024</span>
        <span class="display-inline-block width-200px vertical-align-middle text-align-center font-size-30px">2025</span>
        <span class="display-inline-block width-200px vertical-align-middle text-align-center font-size-30px">2026</span>
      </div>
      <div *ngFor="let stock of stockList" class="width-80per margin-horizontal-auto">
        <span class="display-inline-block width-150px vertical-align-middle font-size-30px white-space-nowrap overflow-x-hidden"><a href="{{stock.url}}">{{stock.name}}</a></span>
        <span class="display-inline-block width-200px vertical-align-middle text-align-center font-size-30px">{{stock.price}}</span>
        <span *ngIf="!KGVValuesshown(stock)" class="display-inline-flex width-200px vertical-align-middle text-align-center font-size-30px">
          <span class="margin-horizontal-auto display-flex">
            {{stock.avgKGV}}<img src="../../assets/icon-arrow-right.svg" height="30" class="margin-vertical-auto" (click)="showKGVValues(stock)">
          </span>
        </span>
        <span *ngIf="KGVValuesshown(stock)" class="display-inline-flex vertical-align-middle text-align-center font-size-30px">
          <span *ngFor="let year of yearList" class="margin-horizontal-auto display-flex margin-right-8px">
            <span (click)="ignoreKGV(stock, year)" *ngIf="!stock[year].ignoreKGV">{{stock[year].kgv}}</span>
            <span (click)="ignoreKGV(stock, year)" *ngIf="stock[year].ignoreKGV" class="color-80808D">{{stock[year].kgv}}</span>
          </span>
          <img src="../../assets/icon-arrow-right.svg" height="30" class="margin-vertical-auto" (click)="showKGVValues(stock)">
        </span>
        <span class="display-inline-block width-200px vertical-align-middle text-align-center font-size-30px" [ngStyle]="{'background-color':computeBackgroundColor(stock[2024].estimatedPrice, stock.price)}">{{computePricePotential(stock[2024].estimatedPrice, stock.price)}}</span>
        <span class="display-inline-block width-200px vertical-align-middle text-align-center font-size-30px" [ngStyle]="{'background-color':computeBackgroundColor(stock[2025].estimatedPrice, stock.price)}">{{computePricePotential(stock[2025].estimatedPrice, stock.price)}}</span>
        <span class="display-inline-block width-200px vertical-align-middle text-align-center font-size-30px" [ngStyle]="{'background-color':computeBackgroundColor(stock[2026].estimatedPrice, stock.price)}">{{computePricePotential(stock[2026].estimatedPrice, stock.price)}}</span>
      </div>
    </div>
  </div>

</ion-content>
